---
import type { PokermonListResponse } from "../interfaces/pekemosList";
import Layout from "../layouts/Layout.astro";
import PokemonsCard from "../components/pokemons/pokemonsCard.astro";

const title = "Pokemon Static | Home";

const URL_API = `https://pokeapi.co/api/v2/pokemon`;

//1. Consultando a la API

const respuesta = await fetch(URL_API);
const resultado = (await respuesta.json()) as PokermonListResponse;
// console.log(resultado);
---

<Layout title={title}>
  <div>
    <h1 class="text-3xl text-center font-bold">Listado de Pokemons</h1>
    <hr class="mt-4" />
    <section class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-4 mt-10">
      {
        resultado.results.map((pokemon) => (
          <PokemonsCard name={pokemon.name} url={pokemon.url} />
        ))
      }
    </section>
  </div>
</Layout>
